@charset    "UTF-8";

h1{font-size:40px;letter-spacing: 3px;color: var(--darkaccent-color);}
h2{font-size:30px;letter-spacing: 3px;color: var(--darkaccent-color);}
h3{font-size:20px}
h4{font-size:16px}
h5{font-size:12px}
h6{font-size:8px}
#entry img{width:150px;}
.comment{margin: 0 25px 50px 25px; }
.sec2-imgs-con img{
    width:150px;
    margin:0 10px 0 10px ;}
.Prof{font-size:13px;}
#insert_explain{font-size:17px;}
#contents_canvas{
    width:70vw;
    height:55vw;
}
#content_detail_mordal{padding:50px;}
#content_detail_mordal_title{font-size:25px;font-weight: bold;color:var(--darkaccent-color);}
#content_detail_mordal_text{font-size:18px;margin: 20px 0 0 0;}
.content{max-width:400px;}
.content.pickup{width:40%;}
.customers{
    --cus-margin:10px;
    width:calc(50% - ( var(--cus-margin) * 2 ) );
    margin:var(--cus-margin);
}