@charset    "UTF-8";

h1{font-size:30px;letter-spacing: 3px;color: var(--darkaccent-color);}
h2{font-size:23px;letter-spacing: 3px;}
h3{font-size:18px}
h4{font-size:14px}
h5{font-size:10px}
h6{font-size:8px}

.comment{margin: 0 15px 50px 15px;}
.sec2-imgs-con img{
    width:100px;
    margin:0 10px 0 10px ;}
.Prof{font-size:10px;}
.separate{flex-direction: column;}
.left, .right{width:90%;}
.right{height:150px;}
.movie>img{width:135px;}
#insert_explain{font-size:13px;}
#contents_canvas{
    width:90vw;
    height:90vw;
}
#contents_canvas>img{
    width:30%;
    max-width:200px;}