@charset    "UTF-8";

h1{font-size:30px;letter-spacing: 3px;color: var(--darkaccent-color);}
h2{font-size:25px;letter-spacing: 3px;color: var(--darkaccent-color);}
h3{font-size:18px}
h4{font-size:14px}
h5{font-size:10px}
h6{font-size:8px}
#entry img{width:100px;}
.comment{margin: 0 auto 30px auto;}
.pv_left{width:50%;}
.pv_right{width:50%;}

.beforebg::before{width:90%;height:550px;}
.beforebg.long::before{height:650px;}
.Prof{font-size:10px;}
.separate,.photoview,.photoview.reverse{flex-direction: column;}
.pv_left,.pv_right{width:100%;}
.left, .right{width:90%;}
.reverse{text-align: left;}
.right{height:150px;}
.right > img{
    width:60%;}
.right_title{padding:10px 10px 10px 15%;}

.right_text_container{
    padding:10px 10px 10px 15%;
    line-height: 2;}
.movie>img{width:135px;}
#insert_explain{font-size:13px;}

#content_detail_mordal{padding:25px;flex-direction: column;}
#content_detail_mordal_title{font-size:20px;font-weight: bold;color:var(--darkaccent-color);}
#content_detail_mordal_text{font-size:13px;margin: 20px 0 0 0;}

.customers{
    --cus-margin:10px;
    width:calc(100% - ( var(--cus-margin) * 2 ) );
    margin:var(--cus-margin);}

.compare_panel_text{width:100%;}
.cpt_mark{flex: 0 1 25%;}
.cpt_mark img{width:120%;}
.cpt_ul{flex: 0 1 60%;;font-size:10px;}
.logo_p:nth-of-type(1){width:34px;height:38px;left:calc(50% - 75px);}
.logo_p:nth-of-type(2){width:27px;height:33px;left:calc(50% - 39px);bottom:calc(var(--bottom-par) + 6px);}
.logo_p:nth-of-type(3){width:34px;height:40px;left:calc(50% - 17px);}
.logo_p:nth-of-type(4){width:28px;height:35px;left:calc(50% + 17px);}
.logo_p:nth-of-type(5){width:31px;height:44px;left:calc(50% + 44px);}
@keyframes popin1{
    0%{bottom:var(--bottom-par);}
    20%{bottom:calc(var(--bottom-par) + 30px);}
    40%{bottom:var(--bottom-par);height:38px;}
    50%{height:25px;}
    60%{height:38px;}}
@keyframes popin2{
    0%{bottom:calc(var(--bottom-par) + 6px);}
    20%{bottom:calc(var(--bottom-par) + 36px);}
    40%{bottom:calc(var(--bottom-par) + 6px);height:33px;}
    50%{height:22px;}
    60%{height:33px;}
    }
@keyframes popin3{
    0%{bottom:var(--bottom-par);}
    20%{bottom:calc(var(--bottom-par) + 30px);}
    40%{bottom:var(--bottom-par);height:40px;}
    50%{height:26px;}
    60%{height:40px;}
    }
@keyframes popin4{
    0%{bottom:var(--bottom-par);}
    20%{bottom:calc(var(--bottom-par) + 30px);}
    40%{bottom:var(--bottom-par);height:35px;}
    50%{height:23px;}
    60%{height:35px;}
    }
@keyframes popin5{
    0%{bottom:var(--bottom-par);}
    20%{bottom:calc(var(--bottom-par) + 30px);}
    40%{bottom:var(--bottom-par);height:44px;}
    50%{height:29px;}
    60%{height:44px;}
}

#sou_comment_left{
    width:110px;
}
#sou_comment_right{
    width:calc(100% - 110px);
}
#sou_hukidashi_arrow{
    width:20px;
    margin-left: 7px;
}
#sou_hukidashi{
    border-radius: 5px;
}